@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("reset.css");

* {
    font-family: 'Poppins';
    /* font-family: 'Kufam', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none !important;
}

.background-container{
  position: relative;
}
.background-container::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/bglines.svg') ;
  background-repeat: no-repeat;
 background-size: cover;
  opacity: 0.08; 
}